<article class="bg-white rounded-xl shadow-sm border border-gray-200 hover:shadow-md transition-shadow overflow-hidden group">
  <div class="h-2 bg-gradient-to-r from-blue-500 to-purple-500"></div>

  <div class="p-6">
    <h2 class="text-xl font-bold text-gray-900 mb-3 group-hover:text-blue-600 transition-colors line-clamp-2">
      <%= link_to blog_post.title, blog_post, class: "hover:underline" %>
    </h2>

    <p class="text-gray-600 text-sm leading-relaxed mb-4 line-clamp-3 h-[42px] ">
      <%= truncate(blog_post.body, length: 80) %>
    </p>
    
    <% if (image = blog_post.images.first) && image.variable? %>
      <%= image_tag image.variant(resize_to_fill: [300, 180]) %>
    <% end %>
    <%= turbo_stream_from "blog_posts" %>
    <%= render "blog_posts/status" , blog_post: blog_post %>


  </div>
</article>