<%= form_with model: @blog_post, local: true do |form| %>
    <% if @blog_post.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog post from being saved:</h2>
      <ul>
        <% @blog_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= 'empty' if form.object.title.blank? %>">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field <%= 'empty' if form.object.body.blank? %>">
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>