<%= form_with model: @blog_post, local: true do |form| %>
    <% if @blog_post.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog post from being saved:</h2>
      <ul>
        <% @blog_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= 'empty' if form.object.title.blank? %>">
    <%= form.label :title, class: " text-sm font-medium text-gray-700" %><br>
    <%= form.text_field :title,   class: "mt-1 block w-full border rounded-md p-2"%>
  </div>

  <div class="field <%= 'empty' if form.object.body.blank? %>">
    <%= form.label :body, class: " text-sm font-medium text-gray-700"  %><br>
    <%= form.text_area :body, class: "my-4 block w-full border rounded-md p-2 min-h-50" %>
    <!-- Show existing images -->
    <% if blog_post.images.attached? %>
      <h3 class= "text-xl font-large">Current Images:</h3>
      <div class="grid grid-cols-2 gap-4 p-6 " >
      <% blog_post.images.each do |image| %>
        <% if image.variable? %>
          <div class="flex flex-col align-content-center">
            <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
            <div class="flex justify-center">
              <%= check_box_tag "blog_post[remove_images][]", image.id %>
              <%= label_tag "blog_post_remove_images_#{image.id}", "Remove this image" %>
            </div>
          </div>
        <%end%>
      <% end %>
      </div>
    <% end %>

    <!-- Add new images -->
    <div>
      <%= form.label :images, "Add new images:" %>
      <%= form.file_field :images, multiple: true, direct_upload: true, class:"flex justify-center items-center" %>
    </div>

  </div>

  <div>
    <%= form.label :published_at, "Published Date:", class: "block text-sm font-medium text-gray-700 mt-4 mb-2" %>
    <%= form.datetime_select :published_at, include_blank: true, class: "border rounded-lg px-3 py-2 text-sm shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
    <button type="button"   data-controller="set-time-now" data-action="click->set-time-now#setNow"  data-set-time-now-prefix-value="blog_post_published_at" class= "ml-4 py-2 px-3 rounded-2xl bg-blue-400 text-base text-[#ffffff]"> Set Now </button>  
  </div>

    <%= form.submit class:" mt-4  p-3 rounded-2xl text-center ml-auto text-base text-[#ffffff] bg-blue-400" %>
<% end %>